<a href="https://colab.research.google.com/github/Adrian-ACI/MetNumUN2021II/blob/master/Lab1/aacanacuani_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [175]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [176]:
my_string1 = 'Bienvendo'
my_string2 = "Adrian"
print(my_string1 + ' ' + my_string2)

Bienvendo Adrian

An integer is a round number with no values after the decimal point.

In [177]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [178]:
my_int = 27
print(my_int)
print(type(my_int))

27
<class 'int'>

The built-in function int() can convert a string into an integer.

In [179]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [180]:
my_string = "11"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [181]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [182]:
my_string = "2711"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [183]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [184]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [185]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [186]:
print("Addition ", 33+1)
print("Subtraction ", 52-2)
print("Multiplication ", 2*8)
print("Division ", 20/2)
print('exponent', 2**5)

Addition  34
Subtraction  50
Multiplication  16
Division  10.0
exponent 32

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [187]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [188]:
print(2/5)
print(2.0/5)

0.4
0.4

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [189]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [190]:
my_list = ['Metodos', 'Numericos', 2,0,2,1]
print(my_list)

['Metodos', 'Numericos', 2, 0, 2, 1]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [191]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [192]:
my_list = ['Metodos', 'Numericos', 2,0,2,1]
print(len(my_list))
print(my_list[1])
print(my_list[len(my_list) -1])

6
Numericos
1

You can also change the elements in the list by accessing an index and assigning a new value.

In [193]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [194]:
my_list =['Metodos', 'Numericos', 2,0,2,1]
my_list[2] = 'Python'
print(my_list)

['Metodos', 'Numericos', 'Python', 0, 2, 1]

A list can also be sliced with a colon:

In [195]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [196]:
my_list = ['Metodos', 'Numericos', 2,0,2,1]
print(my_list[0:5])

['Metodos', 'Numericos', 2, 0, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [197]:
print(my_list[1:])

['Numericos', 2, 0, 2, 1]

In [198]:
print(my_list[1:])

['Numericos', 2, 0, 2, 1]

And all elements up to but excluding index 3:

In [199]:
print(my_list[:3])

['Metodos', 'Numericos', 2]

In [200]:
print(my_list[:4])

['Metodos', 'Numericos', 2, 0]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [201]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [202]:
my_list2 = ['Hola', 'Adrian']
my_list2.append('Canacuan')
print(my_list2)

['Hola', 'Adrian', 'Canacuan']

In [203]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [204]:
my_list2.remove('Canacuan')
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [205]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [206]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [207]:
my_tuple = ('Bienvenido','al','curso')
print(my_tuple[1:])

('al', 'curso')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [208]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'GOOG', 'AAPL', 'IBM', 'FB'}

In [209]:
stock_list = ['ACI','UNAL','ING','ACI','UNAL','FB','F','ING']
stock_set = set(stock_list)
print(stock_set)

{'F', 'ING', 'UNAL', 'FB', 'ACI'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [210]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [211]:
print(my_dic['GOOG'])

Alphabet

In [212]:
my_dic = {'ACI':'Adrian', 'FB':'FaceBook', 'UNAL':'Universidad'}

In [213]:
print(my_dic['UNAL'])

Universidad

After defining a dictionary, we can access any value by indicating its key in brackets.

In [214]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [215]:
my_dic['UNAL'] = 'Universidad Nacional'
print(my_dic['UNAL'])

Universidad Nacional

We can also change the value associated with a specified key:

In [216]:
print(my_dic.keys())

dict_keys(['ACI', 'FB', 'UNAL', 'GOOG'])

In [217]:
print(my_dic.keys())

dict_keys(['ACI', 'FB', 'UNAL', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [218]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [219]:
my_str = 'Bienvenidos al tutorial'
print(my_str[11:])

 al tutorial

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [220]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [221]:
print('Contando el número de e aparece en esta oración'.count('e'))
print('La primera vez que e aparece en esta oración'.find('e'))
print('toda las a en esta oración ahora se convierte en e'.replace('a','e'))

8
7
tode les e en este oreción ehore se convierte en e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [222]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [223]:
Time = '2021-18-10 08:51:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[1]
print(hour)

2021-18-10 08:51:00
51

We can replace parts of a string by our variable. This is called string formatting.

In [224]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [225]:
my_time = 'Hora: {}, Minuto:{}'.format('10','15')
print(my_time)

Hora: 10, Minuto:15

Another way to format a string is to use the % symbol.

In [226]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [227]:
print('El valor de PI es %f'%3.1459)
print('%s al %s'%('Bienvenido','Laboratorio'))

El valor de PI es 3.145900
Bienvenido al Laboratorio

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [228]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [229]:
print(1 == 3)
print(11 == 11)
print(3 != 0)
print(3 >= 3)
print(1 >= 2)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [230]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [231]:
print(5 > 1 and 6 > 2)
print(2 > 1 and 7 < 5) 
print(2 > 1 or 3 < 1)
print(4 < 3 and 6 < 5)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [232]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [233]:
print((4 > 1 or 6 < 8) and (2!=8 and 5>2) and not ( 4 < 1 or 2 < 5 and (2!=6 and 5>3)))
print(6 > 4 or 1 < 2 and (2!=6 and 5>4) and not ( 5 < 2 or 1 < 3 and (1!=4 and 7>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [234]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [235]:
i = 5
if i == 5:
    print('i==5 is True')

i==5 is True

As we mentioned above, we can write some complex statements here:

In [236]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [237]:
p = 6 > 3
q = 5 > 4
if p and q:
    print('p y q son verdaderos')
elif p and not q:
    print('q es falso')
elif q and not p:
    print('p es falso')
else:
    print('ninguno de p y q son verdaderos')

p y q son verdaderos

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [238]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [239]:
i = 5
while i <= 10:
    print(i)
    i += 1

5
6
7
8
9
10

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [240]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [241]:
for i in [10,11,12,13,14,15]:
    print(i)

10
11
12
13
14
15

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [242]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [243]:
stocks = ['ACI','HP','ASUS','FBI','A','V', 'C', 'GO']
selected = ['ACI','HP']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['ACI', 'HP', 'ASUS', 'FBI', 'A', 'V', 'C', 'GO']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [244]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [245]:
stocks = ['ACI', 'HP', 'ASUS', 'FBI', 'A', 'V', 'C', 'GO']
for i in stocks:
    print(i)
    if i == 'ASUS':
        break

ACI
HP
ASUS

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [246]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [247]:
stocks = ['ACI', 'HP', 'ASUS', 'FBI', 'A', 'V', 'C', 'GO']
for i in stocks:
    if i == 'FBI':
        continue
    print(i)

ACI
HP
ASUS
A
V
C
GO

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [248]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [249]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**3)
print(squares)

[1, 8, 27, 64, 125]

Using list comprehension:

In [250]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [251]:
list = [1,2,3,4,5]
squares = [x**3 for x in list]
print(squares)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [252]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [253]:
stocks = ['ACI', 'HP', 'ASUS', 'FBI', 'A', 'V', 'C', 'GO']
selected = ['ACI','HP']
new_list = [x for x in stocks if x in selected]
print(new_list)

['ACI', 'HP']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [254]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [255]:
print([(x, y) for x in [2,4,5] for y in [5,3,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['PSG','R MADRID','BARCELONA','MAN CITY'] for y in ['MAN UNITED','PSV','INTER','MILAN'] if x!=y])

[(2, 5), (2, 3), (2, 4), (4, 5), (4, 3), (5, 3), (5, 4)]
['PSG vs MAN UNITED', 'PSG vs PSV', 'PSG vs INTER', 'PSG vs MILAN', 'R MADRID vs MAN UNITED', 'R MADRID vs PSV', 'R MADRID vs INTER', 'R MADRID vs MILAN', 'BARCELONA vs MAN UNITED', 'BARCELONA vs PSV', 'BARCELONA vs INTER', 'BARCELONA vs MILAN', 'MAN CITY vs MAN UNITED', 'MAN CITY vs PSV', 'MAN CITY vs INTER', 'MAN CITY vs MILAN']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [256]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [257]:
def sum(x,y):
    return x+y
print(product(5,6))
print(product(3,44))

30
132

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [258]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [259]:
def say_hi():
    print('Bienvenido al laboratorio')
say_hi()

Bienvenido al laboratorio

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [260]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [261]:
print(range(5))
print(range(2,10))
print(range(1,10,20))

range(0, 5)
range(2, 10)
range(1, 10, 20)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [262]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [263]:
tickers = ['ACI','ASUS','HP','FBI','GO']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 5
ACI
ASUS
HP
FBI
GO

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [264]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [265]:
list = [5,6,7,8,9]
print(list)
del list
list

[5, 6, 7, 8, 9]

list

In [266]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [267]:
tickers = ['ACI','ASUS','HP','FBI','GO']
list(map(len,tickers))

[3, 4, 2, 3, 2]

In [268]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [269]:
tickers = ['ACI','ASUS','HP','FBI','GO']
print(list(map(len,tickers)))

[3, 4, 2, 3, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [270]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [271]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

map() can be applied to more than one list. The lists have to have the same length.

In [272]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [273]:
list(map(lambda x, y: x*y, [3,1,7,4,8],[2,5,1,3,9]))

[6, 5, 7, 12, 72]

**sorted()** takes a list or set and returns a new sorted list

In [274]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [275]:
sorted([11,16,18,119,15])

[11, 15, 16, 18, 119]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [276]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [277]:
price_list = [('ACI',189.09),('GO',910.71),('ASUS',6989),('FBI',15098),('LINUX',688)]
sorted(price_list, key = lambda x: x[1])

[('ACI', 189.09),
 ('LINUX', 688),
 ('GO', 910.71),
 ('ASUS', 6989),
 ('FBI', 15098)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [278]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [279]:
price_list = [('ACI',189.09),('GO',910.71),('ASUS',6989),('FBI',15098),('LINUX',688)]
sorted(price_list, key = lambda x: x[1], reverse=True)

[('FBI', 15098),
 ('ASUS', 6989),
 ('GO', 910.71),
 ('LINUX', 688),
 ('ACI', 189.09)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [280]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [281]:
price_list = [('ACI',189.09),('GO',910.71),('ASUS',6989),('FBI',15098),('LINUX',688)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('ACI', 189.09), ('LINUX', 688), ('GO', 910.71), ('ASUS', 6989), ('FBI', 15098)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [282]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [283]:
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [284]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [285]:
windows = stock('WDS', 150.78, 167.98, 20119375)
facebook = stock('FB', 980.3, 789.98, 1891616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [286]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [287]:
windows.ticker
facebook.print_return()
facebook.update(678.09,789.08)
facebook.print_return()

-0.194144649597062
0.16368033741833687

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [288]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [289]:
windows.ceo = 'Bill Gates'
windows.ceo

'Bill Gates'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [290]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [291]:
dir(windows)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [292]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [293]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [294]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [295]:
aci = child('aci')
print(aci.name)
aci.update(10,12)
print(aci.open)
print(aci.close)
print(aci.print_return())

aci
10
12
0.19999999999999996
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [296]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [297]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [298]:
price_list2 = [120, 100, 140, 138, 169, 167]
price_array2 = np.array(price_list)
print(price_array2, type(price_array2))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [299]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [300]:
Arr = np.array([[2,9],[5,4],[1,3],[7,9]])
print(Arr, type(Arr))

[[2 9]
 [5 4]
 [1 3]
 [7 9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [301]:
print(Ar.shape)

(2, 2)

In [302]:
print(Arr.shape)

(4, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [303]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [304]:
print(Arr[0])
print(Arr[1])
print(Arr[2])
print(Arr[3])

[2 9]
[5 4]
[1 3]
[7 9]

If we want to access the matrix by column instead:

In [305]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [306]:
print('Primera columna: ', Arr[:,0])
print('Segunda columna: ', Arr[:,1])

Primera columna:  [2 5 1 7]
Segunda columna:  [9 4 3 9]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [307]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [308]:
print(np.log(price_array2))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [309]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [310]:
print(np.mean(price_array2))
print(np.std(price_array2))
print(np.sum(price_array2))
print(np.max(price_array2))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [311]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [312]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [313]:
price2 = [140, 150.3, 156.98, 135.88, 148.07, 142.82]
m = pd.Series(price2)
m

0    140.00
1    150.30
2    156.98
3    135.88
4    148.07
5    142.82
dtype: float64

We can customize the indices of a new Series:

In [314]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [315]:
m = pd.Series(price2,index = ['I','II','III','IV','V','VI'])
m

I      140.00
II     150.30
III    156.98
IV     135.88
V      148.07
VI     142.82
dtype: float64

Or we can change the indices of an existing Series:

In [316]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [317]:
m.index = [1,2,3,4,5,6]
m

1    140.00
2    150.30
3    156.98
4    135.88
5    148.07
6    142.82
dtype: float64

Series is like a list since it can be sliced by index:

In [318]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [319]:
print(m[4:])
print(m[:-3])

5    148.07
6    142.82
dtype: float64
1    140.00
2    150.30
3    156.98
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [320]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [321]:
print(m[3])
m[2] = 0
print(m)

156.98
1    140.00
2      0.00
3    156.98
4    135.88
5    148.07
6    142.82
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [322]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [323]:
m = pd.Series(price2, name = 'Lista de precio de Facebook')
print(m)
print(m.name)

0    140.00
1    150.30
2    156.98
3    135.88
4    148.07
5    142.82
Name: Lista de precio de Facebook, dtype: float64
Lista de precio de Facebook

We can get the statistical summaries of a Series:

In [324]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [325]:
print(m.describe())

count      6.000000
mean     145.675000
std        7.631885
min      135.880000
25%      140.705000
50%      145.445000
75%      149.742500
max      156.980000
Name: Lista de precio de Facebook, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [326]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [327]:
time_index = pd.date_range('2018-01-01',periods = len(m),freq = 'D')
print(time_index)
m.index = time_index
print(m)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')
2018-01-01    140.00
2018-01-02    150.30
2018-01-03    156.98
2018-01-04    135.88
2018-01-05    148.07
2018-01-06    142.82
Freq: D, Name: Lista de precio de Facebook, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [335]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [336]:
m.index = [6,5,4,3,2,1]
print(m)
print(m[5])

6    140.00
5    150.30
4    156.98
3    135.88
2    148.07
1    142.82
Name: Lista de precio de Facebook, dtype: float64
150.3

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [334]:
print(s.iloc[1])

145.83

In [331]:
print(m.iloc[2])

156.98

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [338]:
s.index = time_index
print(s['2018-01-03'])

143.68

In [339]:
m.index = time_index
print(m['2018-01-03'])

156.98

We can even access to a range of dates:

In [342]:
print(s['2018-01-02':'2018-01-05'])

2018-01-02    145.83
2018-01-03    143.68
2018-01-04    144.02
2018-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [341]:
print(m['2018-01-02':'2018-01-05'])

2018-01-02    150.30
2018-01-03    156.98
2018-01-04    135.88
2018-01-05    148.07
Freq: D, Name: Lista de precio de Facebook, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [343]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2018-01-01    143.73
2018-01-03    143.68
2018-01-05    143.50
2018-01-06    142.62
Name: Apple Price List, dtype: float64
[2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04     True
2018-01-05    False
2018-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [344]:
print(m[m < np.mean(m)] )
print([(m > np.mean(m)) & (m < np.mean(m) + 1.64*np.std(m))])

2018-01-01    140.00
2018-01-04    135.88
2018-01-06    142.82
Name: Lista de precio de Facebook, dtype: float64
[2018-01-01    False
2018-01-02     True
2018-01-03     True
2018-01-04    False
2018-01-05     True
2018-01-06    False
Freq: D, Name: Lista de precio de Facebook, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [345]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=1fc0871aebf0d3aeb4fe3b9d0d086faaf531af68a86416e21366f7f01914a00a
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [395]:
import yfinance as yf

fb = yf.Ticker("FB")

# get stock info
print(fb.info)

# get historical market data
fb_table = fb.history(start="2018-01-01",  end="2019-12-31")
fb_table

{'zip': '94025', 'sector': 'Communication Services', 'fullTimeEmployees': 63404, 'longBusinessSummary': "Facebook, Inc. develops products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, and in-home devices worldwide. The company's products include Facebook that enables people to connect, share, discover, and communicate with each other on mobile devices and personal computers; Instagram, a community for sharing photos, videos, and private messages; Messenger, a messaging application for people to connect with friends, family, groups, and businesses across platforms and devices; and WhatsApp, a messaging application that is used by people and businesses to communicate in a private way. It also provides Facebook Reality Labs, an augmented and virtual reality product that help people feel connected, anytime, and anywhere. Facebook, Inc. was founded in 2004 and is headquartered in Menlo Park, California.", 'city': 'Menlo Park', 'phone': '650-543-4800', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://investor.fb.com', 'maxAge': 1, 'address1': '1601 Willow Road', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.49698, 'profitMargins': 0.37175998, 'grossMargins': 0.80977, 'operatingCashflow': 49358000128, 'revenueGrowth': 0.556, 'operatingMargins': 0.42523, 'ebitda': 52079001600, 'targetLowPrice': 225, 'recommendationKey': 'buy', 'grossProfits': 69273000000, 'freeCashflow': 22740000768, 'targetMedianPrice': 425, 'currentPrice': 340.78, 'earningsGrowth': 1.006, 'currentRatio': 5.425, 'returnOnAssets': 0.17950001, 'numberOfAnalystOpinions': 50, 'targetMeanPrice': 417.22, 'debtToEquity': 9.089, 'returnOnEquity': 0.31332, 'targetHighPrice': 500, 'totalCash': 64079998976, 'totalDebt': 12563000320, 'totalRevenue': 104789999616, 'totalCashPerShare': 22.728, 'financialCurrency': 'USD', 'revenuePerShare': 36.82, 'quickRatio': 5.095, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Facebook, Inc.', 'longName': 'Facebook, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'FB', 'messageBoardId': 'finmb_20765463', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.656, 'beta3Year': None, 'enterpriseToEbitda': 17.417, '52WeekChange': 0.22245789, 'morningStarRiskRating': None, 'forwardEps': 16.04, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 2383810048, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 48.913, 'sharesShort': 25835340, 'sharesPercentSharesOut': 0.0092, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.80552, 'netIncomeToCommon': 38956998656, 'trailingEps': 13.466, 'lastDividendValue': None, 'SandP52WeekChange': 0.3087138, 'priceToBook': 6.9670644, 'heldPercentInsiders': 0.00602, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.63, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 2372252409, 'beta': 1.322222, 'enterpriseValue': 907065950208, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 1.007, 'priceToSalesTrailing12Months': 9.168898, 'dateShortInterest': 1632960000, 'pegRatio': 0.93, 'ytdReturn': None, 'forwardPE': 21.245634, 'lastCapGain': None, 'shortPercentOfFloat': 0.0109, 'sharesShortPriorMonth': 27551342, 'impliedSharesOutstanding': 2819440128, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 339.99, 'regularMarketOpen': 343.445, 'twoHundredDayAverage': 340.00253, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 343.94, 'navPrice': None, 'averageDailyVolume10Day': 19625285, 'regularMarketPreviousClose': 339.99, 'fiftyDayAverage': 351.2, 'trailingAnnualDividendRate': None, 'open': 343.445, 'toCurrency': None, 'averageVolume10days': 19625285, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 339.4531, 'currency': 'USD', 'trailingPE': 25.3067, 'regularMarketVolume': 13572204, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 960808812544, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 16101557, 'dayLow': 339.4531, 'ask': 340, 'askSize': 1000, 'volume': 13572204, 'fiftyTwoWeekHigh': 384.33, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 244.61, 'bid': 340.1, 'tradeable': False, 'dividendYield': None, 'bidSize': 1200, 'dayHigh': 343.94, 'regularMarketPrice': 340.78, 'preMarketPrice': 343.5, 'logo_url': 'https://logo.clearbit.com/investor.fb.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-02  177.679993  181.580002  ...          0             0
2018-01-03  181.880005  184.779999  ...          0             0
2018-01-04  184.899994  186.210007  ...          0             0
2018-01-05  185.589996  186.899994  ...          0             0
2018-01-08  187.199997  188.899994  ...          0             0
...                ...         ...  ...        ...           ...
2019-12-23  206.699997  208.589996  ...          0             0
2019-12-24  206.300003  206.789993  ...          0             0
2019-12-26  205.570007  207.820007  ...          0             0
2019-12-27  208.669998  208.929993  ...          0             0
2019-12-30  207.860001  207.899994  ...          0             0

[502 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [396]:
fb = fb_table['Close']['2018']

In [349]:
print(aapl)

Date
2018-01-02    41.248264
2018-01-03    41.241089
2018-01-04    41.432655
2018-01-05    41.904373
2018-01-08    41.748741
                ...
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952034
2018-12-28    37.971474
2018-12-31    38.338482
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [397]:
print(fb['2018-4'])

Date
2018-04-02    155.389999
2018-04-03    156.110001
2018-04-04    155.100006
2018-04-05    159.339996
2018-04-06    157.199997
2018-04-09    157.929993
2018-04-10    165.039993
2018-04-11    166.320007
2018-04-12    163.869995
2018-04-13    164.520004
2018-04-16    164.830002
2018-04-17    168.660004
2018-04-18    166.360001
2018-04-19    168.100006
2018-04-20    166.279999
2018-04-23    165.839996
2018-04-24    159.690002
2018-04-25    159.690002
2018-04-26    174.160004
2018-04-27    173.589996
2018-04-30    172.000000
Name: Close, dtype: float64

In [399]:
fb['2018-2':'2018-4']

Date
2018-02-01    193.089996
2018-02-02    190.279999
2018-02-05    181.259995
2018-02-06    185.309998
2018-02-07    180.179993
                 ...
2018-04-24    159.690002
2018-04-25    159.690002
2018-04-26    174.160004
2018-04-27    173.589996
2018-04-30    172.000000
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [400]:
print(fb.head(5))
print(fb.tail(10))

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
Name: Close, dtype: float64
Date
2018-12-17    140.190002
2018-12-18    143.660004
2018-12-19    133.240005
2018-12-20    133.399994
2018-12-21    124.949997
2018-12-24    124.059998
2018-12-26    134.179993
2018-12-27    134.520004
2018-12-28    133.199997
2018-12-31    131.089996
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [401]:
by_month = fb.resample('M').mean()
print(by_month)

Date
2018-01-31    184.962856
2018-02-28    180.269473
2018-03-31    173.489522
2018-04-30    163.810476
2018-05-31    182.930000
2018-06-30    195.267620
2018-07-31    199.967142
2018-08-31    177.492172
2018-09-30    164.377368
2018-10-31    154.187826
2018-11-30    141.635715
2018-12-31    137.161052
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [402]:
by_week = fb.resample('W').mean()
print(by_week.head())

Date
2018-01-07    184.317501
2018-01-14    186.225998
2018-01-21    179.270000
2018-01-28    187.750000
2018-02-04    188.671997
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [403]:
fb.resample('M').max()

Date
2018-01-31    190.000000
2018-02-28    193.089996
2018-03-31    185.229996
2018-04-30    174.160004
2018-05-31    191.779999
2018-06-30    202.000000
2018-07-31    217.500000
2018-08-31    185.690002
2018-09-30    171.160004
2018-10-31    162.440002
2018-11-30    151.750000
2018-12-31    145.009995
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [405]:
three_day = fb.resample('3D').mean()
two_week = fb.resample('2W').mean()
two_month = fb.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2018-01-02    183.473333
2018-01-05    186.850006
2018-01-08    187.996663
2018-01-11    183.570000
2018-01-14    178.389999
                 ...
2018-12-19    130.529999
2018-12-22    124.059998
2018-12-25    134.349998
2018-12-28    133.199997
2018-12-31    131.089996
Freq: 3D, Name: Close, Length: 122, dtype: float64
Date
2018-01-07    184.317501
2018-01-21    183.134443
2018-02-04    188.210999
2018-02-18    178.084000
2018-03-04    179.274445
2018-03-18    183.123999
2018-04-01    162.164442
2018-04-15    160.081999
2018-04-29    166.720001
2018-05-13    178.463002
2018-05-27    184.663998
2018-06-10    190.446667
2018-06-24    197.005000
2018-07-08    197.056666
2018-07-22    206.967000
2018-08-05    186.366998
2018-08-19    180.721999
2018-09-02    174.929997
2018-09-16    164.412221
2018-09-30    164.346001
2018-10-14    157.400002
2018-10-28    153.221999
2018-11-11    148.517999
2018-11-25    137.982224
2018-12-09    138.166665
2018-12-23    139.294000
2019-01-06    131.409998
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2018-01-31    184.962856
2018-03-31    176.709999
2018-05-31    173.592558
2018-07-31    197.617381
2018-09-30    171.559284
2018-11-30    148.197045
2019-01-31    137.161052
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [406]:
std = fb.resample('W').std()
max = fb.resample('W').max()
min = fb.resample('W').min()


print(std)
print(max)
print(min)

Date
2018-01-07     2.231107
2018-01-14     3.837817
2018-01-21     1.625275
2018-01-28     1.923528
2018-02-04     2.955312
2018-02-11     5.235976
2018-02-18     2.739539
2018-02-25     3.083416
2018-03-04     3.730826
2018-03-11     2.265762
2018-03-18     1.255596
2018-03-25     5.005884
2018-04-01     4.229044
2018-04-08     1.718854
2018-04-15     3.260361
2018-04-22     1.539800
2018-04-29     7.107870
2018-05-06     1.857842
2018-05-13     3.958123
2018-05-20     1.536232
2018-05-27     1.221171
2018-06-03     3.763726
2018-06-10     2.271283
2018-06-17     2.359149
2018-06-24     2.134097
2018-07-01     1.689516
2018-07-08     4.309860
2018-07-15     2.080803
2018-07-22     1.216955
2018-07-29    21.377140
2018-08-05     3.001045
2018-08-12     2.140336
2018-08-19     3.339696
2018-08-26     0.893487
2018-09-02     0.892148
2018-09-09     4.033962
2018-09-16     1.874832
2018-09-23     2.312189
2018-09-30     1.789613
2018-10-07     2.276503
2018-10-14     2.761613
2018-10-21     2.759023
2018-10-28     4.462998
2018-11-04     4.215377
2018-11-11     2.458113
2018-11-18     1.893192
2018-11-25     1.506930
2018-12-02     2.186064
2018-12-09     1.673827
2018-12-16     1.443308
2018-12-23     7.220686
2018-12-30     4.984844
2019-01-06          NaN
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    186.850006
2018-01-14    188.279999
2018-01-21    181.289993
2018-01-28    190.000000
2018-02-04    193.089996
2018-02-11    185.309998
2018-02-18    179.960007
2018-02-25    183.289993
2018-03-04    184.929993
2018-03-11    185.229996
2018-03-18    185.089996
2018-03-25    172.559998
2018-04-01    160.059998
2018-04-08    159.339996
2018-04-15    166.320007
2018-04-22    168.660004
2018-04-29    174.160004
2018-05-06    176.610001
2018-05-13    186.990005
2018-05-20    186.639999
2018-05-27    186.899994
2018-06-03    193.990005
2018-06-10    193.279999
2018-06-17    196.809998
2018-06-24    202.000000
2018-07-01    199.000000
2018-07-08    203.229996
2018-07-15    207.320007
2018-07-22    209.990005
2018-07-29    217.500000
2018-08-05    177.779999
2018-08-12    185.690002
2018-08-19    181.110001
2018-08-26    174.649994
2018-09-02    177.639999
2018-09-09    171.160004
2018-09-16    165.940002
2018-09-23    166.020004
2018-09-30    168.839996
2018-10-07    162.440002
2018-10-14    157.899994
2018-10-21    159.419998
2018-10-28    154.779999
2018-11-04    151.789993
2018-11-11    151.529999
2018-11-18    144.220001
2018-11-25    134.820007
2018-12-02    140.610001
2018-12-09    141.089996
2018-12-16    145.009995
2018-12-23    143.660004
2018-12-30    134.520004
2019-01-06    131.089996
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    181.419998
2018-01-14    179.369995
2018-01-21    177.600006
2018-01-28    185.369995
2018-02-04    185.979996
2018-02-11    171.580002
2018-02-18    173.149994
2018-02-25    176.009995
2018-03-04    175.940002
2018-03-11    179.779999
2018-03-18    181.880005
2018-03-25    159.389999
2018-04-01    152.220001
2018-04-08    155.100006
2018-04-15    157.929993
2018-04-22    164.830002
2018-04-29    159.690002
2018-05-06    172.000000
2018-05-13    177.970001
2018-05-20    182.679993
2018-05-27    183.800003
2018-06-03    185.740005
2018-06-10    188.179993
2018-06-17    191.539993
2018-06-24    197.490005
2018-07-01    194.320007
2018-07-08    192.729996
2018-07-15    202.539993
2018-07-22    207.229996
2018-07-29    174.889999
2018-08-05    171.059998
2018-08-12    180.259995
2018-08-19    173.800003
2018-08-26    172.500000
2018-09-02    175.729996
2018-09-09    162.529999
2018-09-16    161.360001
2018-09-23    160.300003
2018-09-30    164.460007
2018-10-07    157.330002
2018-10-14    151.380005
2018-10-21    153.520004
2018-10-28    145.369995
2018-11-04    142.089996
2018-11-11    144.960007
2018-11-18    139.529999
2018-11-25    131.550003
2018-12-02    135.000000
2018-12-09    137.419998
2018-12-16    141.850006
2018-12-23    124.949997
2018-12-30    124.059998
2019-01-06    131.089996
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [407]:
last_day = fb.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2018-01-31    186.889999
2018-02-28    178.320007
2018-03-31    159.789993
2018-04-30    172.000000
2018-05-31    191.779999
2018-06-30    194.320007
2018-07-31    172.580002
2018-08-31    175.729996
2018-09-30    164.460007
2018-10-31    151.789993
2018-11-30    140.610001
2018-12-31    131.089996
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [408]:
monthly_return = fb.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2018-01-31    0.030151
2018-02-28   -0.076493
2018-03-31   -0.091793
2018-04-30    0.106892
2018-05-31    0.103071
2018-06-30    0.001701
2018-07-31   -0.125557
2018-08-31    0.023769
2018-09-30   -0.039145
2018-10-31   -0.065563
2018-11-30   -0.073410
2018-12-31   -0.070877
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [409]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

-0.02310432599688204
0.07592219171723219
0.10689233976184731

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [410]:
print(last_day.diff())
print(last_day.pct_change())

Date
2018-01-31          NaN
2018-02-28    -8.569992
2018-03-31   -18.530014
2018-04-30    12.210007
2018-05-31    19.779999
2018-06-30     2.540009
2018-07-31   -21.740005
2018-08-31     3.149994
2018-09-30   -11.269989
2018-10-31   -12.670013
2018-11-30   -11.179993
2018-12-31    -9.520004
Freq: M, Name: Close, dtype: float64
Date
2018-01-31         NaN
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.067705
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [411]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2018-01-31    0.000000
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.067705
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [412]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2018-01-31   -0.045856
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.067705
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [413]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.067705
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [415]:
import pandas as pd

dict = {'AAPL': [157.5, 145.09, 147.47, 184.88, 166.34],'GOOG':[898.1, 451.56, 806.69, 568.59,789.67],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2018-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2018-07-03  157.50  898.10  155.58
2018-07-04  145.09  451.56  153.67
2018-07-05  147.47  806.69  152.36
2018-07-06  184.88  568.59  152.94
2018-07-07  166.34  789.67  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [416]:
df = fb_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2019-12-23    206.179993
2019-12-24    205.119995
2019-12-26    207.789993
2019-12-27    208.100006
2019-12-30    204.410004
Name: Close, dtype: float64
Date
2019-12-23    13348900
2019-12-24     6046300
2019-12-26     9350700
2019-12-27    10284200
2019-12-30    10524300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [418]:
fb_2018 = df['2018']
fb_month = fb_2018.resample('M').agg(lambda x: x[-1])
print(fb_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31  188.369995  189.830002  ...          0             0
2018-02-28  182.300003  182.880005  ...          0             0
2018-03-31  155.149994  161.419998  ...          0             0
2018-04-30  173.789993  175.720001  ...          0             0
2018-05-31  187.869995  192.720001  ...          0             0
2018-06-30  197.320007  197.600006  ...          0             0
2018-07-31  170.669998  174.240005  ...          0             0
2018-08-31  177.149994  177.619995  ...          0             0
2018-09-30  168.330002  168.789993  ...          0             0
2018-10-31  155.000000  156.399994  ...          0             0
2018-11-30  138.259995  140.970001  ...          0             0
2018-12-31  134.449997  134.639999  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [419]:
fb_bar = fb_month[['Open', 'High', 'Low', 'Close']]
print(fb_bar)

                  Open        High         Low       Close
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999
2018-02-28  182.300003  182.880005  178.139999  178.320007
2018-03-31  155.149994  161.419998  154.139999  159.789993
2018-04-30  173.789993  175.720001  171.710007  172.000000
2018-05-31  187.869995  192.720001  187.479996  191.779999
2018-06-30  197.320007  197.600006  193.960007  194.320007
2018-07-31  170.669998  174.240005  170.000000  172.580002
2018-08-31  177.149994  177.619995  174.979996  175.729996
2018-09-30  168.330002  168.789993  162.559998  164.460007
2018-10-31  155.000000  156.399994  148.960007  151.789993
2018-11-30  138.259995  140.970001  137.360001  140.610001
2018-12-31  134.449997  134.639999  129.949997  131.089996

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [420]:
print(fb_month.loc['2018-03':'2018-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2018-03-31  155.149994  161.419998  154.139999  159.789993
2018-04-30  173.789993  175.720001  171.710007  172.000000
2018-05-31  187.869995  192.720001  187.479996  191.779999
2018-06-30  197.320007  197.600006  193.960007  194.320007

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [421]:
import numpy as np

above = fb_bar[fb_bar.Close > np.mean(fb_bar.Close)]
print(above)

                  Open        High         Low       Close
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999
2018-02-28  182.300003  182.880005  178.139999  178.320007
2018-04-30  173.789993  175.720001  171.710007  172.000000
2018-05-31  187.869995  192.720001  187.479996  191.779999
2018-06-30  197.320007  197.600006  193.960007  194.320007
2018-07-31  170.669998  174.240005  170.000000  172.580002
2018-08-31  177.149994  177.619995  174.979996  175.729996

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [422]:
fb_bar['rate_return'] = fb_bar.Close.pct_change()
print(fb_bar)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999          NaN
2018-02-28  182.300003  182.880005  178.139999  178.320007    -0.045856
2018-03-31  155.149994  161.419998  154.139999  159.789993    -0.103914
2018-04-30  173.789993  175.720001  171.710007  172.000000     0.076413
2018-05-31  187.869995  192.720001  187.479996  191.779999     0.115000
2018-06-30  197.320007  197.600006  193.960007  194.320007     0.013244
2018-07-31  170.669998  174.240005  170.000000  172.580002    -0.111877
2018-08-31  177.149994  177.619995  174.979996  175.729996     0.018252
2018-09-30  168.330002  168.789993  162.559998  164.460007    -0.064132
2018-10-31  155.000000  156.399994  148.960007  151.789993    -0.077040
2018-11-30  138.259995  140.970001  137.360001  140.610001    -0.073654
2018-12-31  134.449997  134.639999  129.949997  131.089996    -0.067705

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [423]:
missing = fb_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2018-01-31  False  False  False  False         True
2018-02-28  False  False  False  False        False
2018-03-31  False  False  False  False        False
2018-04-30  False  False  False  False        False
2018-05-31  False  False  False  False        False
2018-06-30  False  False  False  False        False
2018-07-31  False  False  False  False        False
2018-08-31  False  False  False  False        False
2018-09-30  False  False  False  False        False
2018-10-31  False  False  False  False        False
2018-11-30  False  False  False  False        False
2018-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [424]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2018-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [425]:
drop = fb_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = fb_bar.fillna(0)
print(fill)

                  Open        High         Low       Close  rate_return
Date
2018-02-28  182.300003  182.880005  178.139999  178.320007    -0.045856
2018-03-31  155.149994  161.419998  154.139999  159.789993    -0.103914
2018-04-30  173.789993  175.720001  171.710007  172.000000     0.076413
2018-05-31  187.869995  192.720001  187.479996  191.779999     0.115000
2018-06-30  197.320007  197.600006  193.960007  194.320007     0.013244
2018-07-31  170.669998  174.240005  170.000000  172.580002    -0.111877
2018-08-31  177.149994  177.619995  174.979996  175.729996     0.018252
2018-09-30  168.330002  168.789993  162.559998  164.460007    -0.064132
2018-10-31  155.000000  156.399994  148.960007  151.789993    -0.077040
2018-11-30  138.259995  140.970001  137.360001  140.610001    -0.073654
2018-12-31  134.449997  134.639999  129.949997  131.089996    -0.067705

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999     0.000000
2018-02-28  182.300003  182.880005  178.139999  178.320007    -0.045856
2018-03-31  155.149994  161.419998  154.139999  159.789993    -0.103914
2018-04-30  173.789993  175.720001  171.710007  172.000000     0.076413
2018-05-31  187.869995  192.720001  187.479996  191.779999     0.115000
2018-06-30  197.320007  197.600006  193.960007  194.320007     0.013244
2018-07-31  170.669998  174.240005  170.000000  172.580002    -0.111877
2018-08-31  177.149994  177.619995  174.979996  175.729996     0.018252
2018-09-30  168.330002  168.789993  162.559998  164.460007    -0.064132
2018-10-31  155.000000  156.399994  148.960007  151.789993    -0.077040
2018-11-30  138.259995  140.970001  137.360001  140.610001    -0.073654
2018-12-31  134.449997  134.639999  129.949997  131.089996    -0.067705

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [426]:
s1 = pd.Series([150.5, 146.67, 157.45, 148.12, 143.77], name = 'FB')
s2 = pd.Series([879.7, 980.11, 926.59, 958.45, 926.91], name = 'HP')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

       FB      HP
0  150.50  879.70
1  146.67  980.11
2  157.45  926.59
3  148.12  958.45
4  143.77  926.91

The "axis = 1" parameter will join two DataFrames by columns:

In [429]:
log_price = np.log(fb_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([fb_bar, log_price], axis = 1)
print(concat)

Date
2018-01-31    5.230520
2018-02-28    5.183580
2018-03-31    5.073860
2018-04-30    5.147494
2018-05-31    5.256349
2018-06-30    5.269506
2018-07-31    5.150861
2018-08-31    5.168949
2018-09-30    5.102667
2018-10-31    5.022498
2018-11-30    4.945990
2018-12-31    4.875884
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2018-01-31  188.369995  189.830002  ...          NaN   5.230520
2018-02-28  182.300003  182.880005  ...    -0.045856   5.183580
2018-03-31  155.149994  161.419998  ...    -0.103914   5.073860
2018-04-30  173.789993  175.720001  ...     0.076413   5.147494
2018-05-31  187.869995  192.720001  ...     0.115000   5.256349
2018-06-30  197.320007  197.600006  ...     0.013244   5.269506
2018-07-31  170.669998  174.240005  ...    -0.111877   5.150861
2018-08-31  177.149994  177.619995  ...     0.018252   5.168949
2018-09-30  168.330002  168.789993  ...    -0.064132   5.102667
2018-10-31  155.000000  156.399994  ...    -0.077040   5.022498
2018-11-30  138.259995  140.970001  ...    -0.073654   4.945990
2018-12-31  134.449997  134.639999  ...    -0.067705   4.875884

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [430]:
df_volume = fb_table.loc['2018-10':'2019-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = fb_table.loc['2018-10':'2019-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

              Volume  Stock Splits
Date
2018-10-31  60101300             0
2018-11-30  25732600             0
2018-12-31  24625300             0
2019-01-31  77233600             0
2019-02-28  11114200             0
2019-03-31  13455500             0
2019-04-30  23494700             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2018-10-31  155.000000  156.399994  148.960007  151.789993
2018-11-30  138.259995  140.970001  137.360001  140.610001
2018-12-31  134.449997  134.639999  129.949997  131.089996
2019-01-31  165.600006  171.679993  165.000000  166.690002
2019-02-28  162.369995  163.500000  160.860001  161.449997
2019-03-31  166.389999  167.190002  164.809998  166.690002
2019-04-30  194.190002  197.389999  192.279999  193.399994

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [433]:
concat = pd.concat([fb_bar, df_volume], axis = 1)
print(concat)

                  Open        High  ...      Volume  Stock Splits
Date                                ...
2018-01-31  188.369995  189.830002  ...         NaN           NaN
2018-02-28  182.300003  182.880005  ...         NaN           NaN
2018-03-31  155.149994  161.419998  ...         NaN           NaN
2018-04-30  173.789993  175.720001  ...         NaN           NaN
2018-05-31  187.869995  192.720001  ...         NaN           NaN
2018-06-30  197.320007  197.600006  ...         NaN           NaN
2018-07-31  170.669998  174.240005  ...         NaN           NaN
2018-08-31  177.149994  177.619995  ...         NaN           NaN
2018-09-30  168.330002  168.789993  ...         NaN           NaN
2018-10-31  155.000000  156.399994  ...  60101300.0           0.0
2018-11-30  138.259995  140.970001  ...  25732600.0           0.0
2018-12-31  134.449997  134.639999  ...  24625300.0           0.0
2019-01-31         NaN         NaN  ...  77233600.0           0.0
2019-02-28         NaN         NaN  ...  11114200.0           0.0
2019-03-31         NaN         NaN  ...  13455500.0           0.0
2019-04-30         NaN         NaN  ...  23494700.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [434]:
concat = pd.concat([fb_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                  Open        High  ...    Volume  Stock Splits
Date                                ...
2018-10-31  155.000000  156.399994  ...  60101300             0
2018-11-30  138.259995  140.970001  ...  25732600             0
2018-12-31  134.449997  134.639999  ...  24625300             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [435]:
append = fb_bar.append(df_2017)
print(append)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999          NaN
2018-02-28  182.300003  182.880005  178.139999  178.320007    -0.045856
2018-03-31  155.149994  161.419998  154.139999  159.789993    -0.103914
2018-04-30  173.789993  175.720001  171.710007  172.000000     0.076413
2018-05-31  187.869995  192.720001  187.479996  191.779999     0.115000
2018-06-30  197.320007  197.600006  193.960007  194.320007     0.013244
2018-07-31  170.669998  174.240005  170.000000  172.580002    -0.111877
2018-08-31  177.149994  177.619995  174.979996  175.729996     0.018252
2018-09-30  168.330002  168.789993  162.559998  164.460007    -0.064132
2018-10-31  155.000000  156.399994  148.960007  151.789993    -0.077040
2018-11-30  138.259995  140.970001  137.360001  140.610001    -0.073654
2018-12-31  134.449997  134.639999  129.949997  131.089996    -0.067705
2018-10-31  155.000000  156.399994  148.960007  151.789993          NaN
2018-11-30  138.259995  140.970001  137.360001  140.610001          NaN
2018-12-31  134.449997  134.639999  129.949997  131.089996          NaN
2019-01-31  165.600006  171.679993  165.000000  166.690002          NaN
2019-02-28  162.369995  163.500000  160.860001  161.449997          NaN
2019-03-31  166.389999  167.190002  164.809998  166.690002          NaN
2019-04-30  194.190002  197.389999  192.279999  193.399994          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [436]:
concat = pd.concat([fb_bar, df_2017], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  188.369995  189.830002  185.220001  186.889999          NaN
2018-02-28  182.300003  182.880005  178.139999  178.320007    -0.045856
2018-03-31  155.149994  161.419998  154.139999  159.789993    -0.103914
2018-04-30  173.789993  175.720001  171.710007  172.000000     0.076413
2018-05-31  187.869995  192.720001  187.479996  191.779999     0.115000
2018-06-30  197.320007  197.600006  193.960007  194.320007     0.013244
2018-07-31  170.669998  174.240005  170.000000  172.580002    -0.111877
2018-08-31  177.149994  177.619995  174.979996  175.729996     0.018252
2018-09-30  168.330002  168.789993  162.559998  164.460007    -0.064132
2018-10-31  155.000000  156.399994  148.960007  151.789993    -0.077040
2018-11-30  138.259995  140.970001  137.360001  140.610001    -0.073654
2018-12-31  134.449997  134.639999  129.949997  131.089996    -0.067705
2018-10-31  155.000000  156.399994  148.960007  151.789993          NaN
2018-11-30  138.259995  140.970001  137.360001  140.610001          NaN
2018-12-31  134.449997  134.639999  129.949997  131.089996          NaN
2019-01-31  165.600006  171.679993  165.000000  166.690002          NaN
2019-02-28  162.369995  163.500000  160.860001  161.449997          NaN
2019-03-31  166.389999  167.190002  164.809998  166.690002          NaN
2019-04-30  194.190002  197.389999  192.279999  193.399994          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [437]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([fb_bar, df_2017], axis = 0)
print(concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2018-01-31  188.369995  189.830002  ...          NaN         NaN
2018-02-28  182.300003  182.880005  ...    -0.045856         NaN
2018-03-31  155.149994  161.419998  ...    -0.103914         NaN
2018-04-30  173.789993  175.720001  ...     0.076413         NaN
2018-05-31  187.869995  192.720001  ...     0.115000         NaN
2018-06-30  197.320007  197.600006  ...     0.013244         NaN
2018-07-31  170.669998  174.240005  ...    -0.111877         NaN
2018-08-31  177.149994  177.619995  ...     0.018252         NaN
2018-09-30  168.330002  168.789993  ...    -0.064132         NaN
2018-10-31  155.000000  156.399994  ...    -0.077040         NaN
2018-11-30  138.259995  140.970001  ...    -0.073654         NaN
2018-12-31  134.449997  134.639999  ...    -0.067705         NaN
2018-10-31         NaN  156.399994  ...          NaN  155.000000
2018-11-30         NaN  140.970001  ...          NaN  138.259995
2018-12-31         NaN  134.639999  ...          NaN  134.449997
2019-01-31         NaN  171.679993  ...          NaN  165.600006
2019-02-28         NaN  163.500000  ...          NaN  162.369995
2019-03-31         NaN  167.190002  ...          NaN  166.389999
2019-04-30         NaN  197.389999  ...          NaN  194.190002

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.